*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding-top: 6rem;
}

#calculator {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  width: 60%;
  background-color: black;
  font-size: 2rem;
}

#display {
  background-color: black;
  color: yellow;
  font-size: 2rem;
  text-align: right;
  font-family: 'Segment7Standard';
  font-weight: normal;
  font-style: italic;
  padding-top: 3rem;
}

#btn-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

button {
  font-size: 2rem;
  flex: 0 1 25%;
  aspect-ratio: 2/1;
}

#zero {
  flex-grow: 1;
  aspect-ratio: 0;
}
